<% layout('layouts/boilerplate') -%>
<div>
    <h1 style='text-align: center'>Login</h1>
    <div>
        <div style='width: 30%; margin:30px auto'>
            <form action='/login' method='POST'>
                <div>
                    <label for='username'>Username</label>
                    <input type='text' name='username' id='username' placeholder='username'>
                </div>
                <div>
                    <label for='password'>Password</label>
                    <input type='password' name='password' id='password' placeholder='password'>
                </div> 
                <div> 
                    <button type='submit'>GO!</button>
                </div>
            </form>
        <p>Don't have an account <a href='/register'>Register!</a><p>

    </div>
</div>