<% layout('layouts/boilerplate') -%>
<h1>Caves Index</h1>
<p><a href='/caves/new'>Create a cave</a></p>
<form method='GET' action='/caves'>
    <label for='search'>Search Caves</label>
    <input type='text' name='search' id='searchCaves' placeholder='Cave Search'>
    <input type='submit' value='Search'>
</form>
<%if(searchCaves){%>
    <%searchCaves.forEach((foundCave)=>{%>
        <a href='/caves/<%=foundCave.id%>'><%=foundCave.name%></a>
    <%})%>
<%}else{%>

<%}%>