<div>
    <h1 style='text-align: center'>New Cave</h1>
    <div>
        <div style='width: 30%; margin:30px auto'>
            <form action='/caves' method='POST'>
                <div>
                    <label for='name'>Name</label>
                    <input type='text' name='name' id='name' placeholder='name'>
                </div>
                <button type='submit'>Create!</button>
            </form>
        </div>
    </div>
</div>